@using MudBlazor


<div dir="rtl">
    <MudNavMenu Dense="true">
        <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home" Match="NavLinkMatch.All">الصفحة الرئيسية</MudNavLink>

        <MudNavGroup Title="الموارد البشرية" Icon="@Icons.Material.Filled.People" ExpandIconPlacement="End">
            <MudNavLink Href="/employees" Icon="@Icons.Material.Filled.List"> الربط مع منصة مقيم</MudNavLink>
            <MudNavLink Href="/muqeemEmployees" Icon="@Icons.Material.Filled.Badge">مقيم</MudNavLink>

        </MudNavGroup>
        <MudNavLink Href="/logout" Icon="@Icons.Material.Filled.ExitToApp">تسجيل الخروج</MudNavLink>
    </MudNavMenu>
</div>
