@using MudBlazor


<div dir="rtl">
    <MudNavMenu Dense="true">
        <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home" Match="NavLinkMatch.All">الصفحة الرئيسية</MudNavLink>

        <MudNavGroup Title="الموظفون" Icon="@Icons.Material.Filled.People" ExpandIconPlacement="End">
            <MudNavLink Href="/employees" Icon="@Icons.Material.Filled.List"> الموظفين</MudNavLink>
            <MudNavLink Href="/muqeemEmployees" Icon="@Icons.Material.Filled.Badge">مقيم</MudNavLink>
            <MudNavLink Href="/insurance" Icon="@Icons.Material.Filled.HealthAndSafety">التأمين والتقاعد</MudNavLink>
        </MudNavGroup>

      
        <MudNavLink Href="/logout" Icon="@Icons.Material.Filled.ExitToApp">تسجيل الخروج</MudNavLink>
    </MudNavMenu>
</div>
